main {
    section {
        article {
            background-color: purple;
            border-radius: 50%;
            font-size: 4.6rem;
            height: 240px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem auto;
            width: 240px;
            transition: all 0.4s ease;
            &:hover {
                cursor: pointer;
                transform: rotateY(180deg);
            }
        }
    }
}