body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(180deg,#4ad637,#464747);
    font-family: Poppins, sans-serif;
    color: #ffffff;
    scroll-behavior: smooth;
}

main{
    padding: 20px;
&.internal
    h1 {
        font-size: 2rem;
    
    }
}
img{
    height: 289px;
    width: 280px;
    display: flex;
    border: 4px solid #ff00eafb;
    object-fit: cover ;
    margin: 1rem auto ;
    border-radius: 50%;
}
.header-container{
    margin-bottom: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
}

.btn-volver{
    width: 100px;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background: #ffffffa6;
    border-radius: 40px;
    color: #000000;
    font-weight: 700;
    transition: .3s;
}

.btn-volver:hover{
    background: white;
    transform: scale(1.05);
}

.btn-volver span{
    width: 28px;
    height: 28px;
    background: #37d66f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.btn-volver h4{
    margin: 0;
    font-size: 18px;
}

.content{
    text-align: center;
    margin-top: 20px;
}

.content h1{
    margin: 0;
    font-size: 60px;
    font-weight: 900;
}

.content h3{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
        menu.mainmenu{
           display: flex;
           flex-direction: column;
           gap: 1rem;
           justify-content: center;
           align-items: center;
           a:link, a:visited {
            color: #000000;
            border-radius: 5rem;
            background-color: #ffffffab;
            width: 320px;
            padding: 0.6rem;
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: all 0.4s ease-in;
            &:hover{
                background-color: white;
                transform: scale(1.0s);
            }
            span{
                color: #000000;
                font-weight: 600;
                background-color: #3fd683;
                border-radius: 50%;
                display: flex;
                font-size: 1.4rem;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
            }
            aside{
                h4{
                    color: #000000;
                    font-size: 1.4rem;
                    margin: 0;
                    font-weight: 900;
                    margin-left: 0.4rem;
                }
                small{
                    color: #000000;
                    font-size: 0.9rem;
                    font-weight: 600;
                    margin-left: 0.4rem;
                }
            }

           }
        }
section {
    background-color: #19ffd9a8;
    border-radius: 0.4rem;
    margin-top: 2rem;
    min-height: 200px;
    width: 380px;
    text-align: center;
    padding: 0.001rem;
    margin-top: 20px;
    margin: 0;
    object-fit: cover ;
    margin: 1rem auto ;
    h2{
        color: #000000;
        border-bottom: 3px solid rgb(196, 16, 16);
        padding-bottom: 0.4rem;
        border-top: 3px solid rgb(196, 16, 16);
        padding: 0.6rem;
        text-align: left;
    }
    h3{
        text-align: left;
    }
    p{
        text-align: left;
    }
}
 menu.mainmenu{
           display: flex;
           flex-direction: column;
           gap: 1rem;
           justify-content: center;
           align-items: center;
           a:link, a:visited {
            color: #000000;
            border-radius: 5rem;
            background-color: #ffffffab;
            width: 320px;
            padding: 0.6rem;
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: all 0.4s ease-in;
            &:hover{
                background-color: white;
                transform: scale(1.0s);
            }
            aside{
                h4{
                    color: #000000;
                    font-size: 1.4rem;
                    margin: 0;
                    font-weight: 500;
                    margin-left: 0.4rem;
                }
                small{
                    color: #000000;
                    font-size: 0.9rem;
                    font-weight: 600;
                    margin-left: 0.4rem;
                }
            }

           }
        }
       header.lincks{
        a:link, a:visited{
            background-color: #3fd683b0;
            padding: 0.4rem 0.8rem;
            color: rgb(255, 61, 61);
        }
    }
.nombre {
    background-color: #02ffd5a8;
    border-radius: 0.4rem;
    margin-top: 2rem;
    min-height: 50px;
    width: 380px;
    text-align: center;
    padding: 0.001rem;
    margin-top: 20px;
    margin: 0;
    object-fit: cover ;
    margin: 1rem auto ;
}
xmp {
    text-align: left;
}
.tabla_codigo{
    background-color: #454646c9;
    border-radius: 0.4rem;
    margin-top: 2rem;
    min-height: 40px;
    width: 350px;
    padding: 0.001rem;
    margin-top: 20px;
    margin: 0;
    object-fit: cover ;
    xmp{
        text-align: left;
    }

}