body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f1f1f;
}
#girar{
    display: none;
}
.moneda{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
    cursor: pointer;
}
.cara, .cruz{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: radial-gradient(circle,#ffe66d,#d4a017);
    border: 6px solid #1f1f1f;
}

